.content
  %h1 Edit Event data 
  = bootstrap_form_for @event, url: {action: 'update'} do |f|
    .field.align-middle
      = f.text_field :event_date, class: "col-md-3 control-label" 
    .field
      = f.text_field :opponent, class: "col-md-3 control-label"
    = f.submit "Update"
  = link_to 'Back', events_path
-#   = link_to 'Back', players_path
