.content
  %h1 List of your Events  
  = link_to 'New Event', new_event_path(), class: "btn btn-outline-primary"
  %table
    %tr.list
      %td Event date
      %td Opponent
      %td
    - @events.each do |event|
      %tr
        %td
          = event.event_date
        %td
          = player.type
        %td
          = player.opponent
        %td
          Git działa
        %td
          %button.btn.btn-outline-primary.btn-sm
            = link_to 'Edit', edit_event_path(event), :class => ".btn.btn-outline-primary.btn-sm"
            |
            \#{link_to "Delete", event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, :class => ".btn.btn-outline-primary.btn-sm"}
  %br