.content
  %h1 List of your Events  
  = link_to 'New Event', new_event_path(), class: "btn btn-outline-primary"
  %table
    %tr.list
      %td Event date
      %td Opponent
      %td Check players
      %td Add player
      %td
    - @events.each do |event|
      %tr
        %td
          = event.event_date
        %td
          = event.opponent.capitalize
        %td
          %button.btn.btn-primary{"data-target" => "#event-modal-#{event.id}", "data-toggle" => "modal", :type => "button"}
            Check players
        %td
          %button.btn.btn-outline-primary.btn-sm
            = link_to 'Add player', edit_player_event_path(event), :class => ".btn.btn-outline-primary.btn-sm"
        %td
          %button.btn.btn-outline-primary.btn-sm
            = link_to 'Edit', edit_event_path(event), :class => ".btn.btn-outline-primary.btn-sm"
            |
            \#{link_to "Delete", event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, :class => ".btn.btn-outline-primary.btn-sm"}
    %br

- @events.each do |event|
  .modal.fade{id: "event-modal-#{event.id}", "aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h4#myModalLabel.modal-title Edit players data after match
          %button.close{"data-dismiss" => "modal", :type => "button"} x
        .modal-body
          
          #accordion
            - event.players.each do |player|
              .card
                #headingTwo.card-header
                  %h5.mb-0
                    %button.btn.btn-link.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo#{player.id}", "data-toggle" => "collapse"}
                      %tr
                        %td= player.number
                        %td= player.name
                        %td= player.surname
              .collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion", :id => "collapseTwo#{player.id}"}
                .card-body
                  %td
                    %h4 Yellow cards: #{player.yellow_cards}    Red cards: #{player.red_cards}
                    %h5 Edit player data                                        
                    = bootstrap_form_for player do |f|
                      .field.align-middle  
                        %tr
                          %td=f.select :yellow_cards, [ 0, 1 ], :prompt => 'Select One'
                          %td=f.select :red_cards, [ 0, 1 ], :prompt => 'Select One'
                          = f.submit "Update"   
        .modal-footer
