.content
  %h1 List of your Events  
  = link_to 'New Event', new_event_path(), class: "btn btn-outline-primary"
  %table
    %tr.list
      %td Event date
      %td Opponent
      %td
      %td
      %td
    - @events.each do |event|
      %tr
        %td
          = event.event_date
        %td
          = event.opponent.capitalize
        %td
          = event.event_type.capitalize
        %td
          Tutaj bedzie taktyka i squad
        %td
          %button.btn.btn-primary{"data-target" => "#editDataAfterMatchModal", "data-toggle" => "modal", :type => "button"}
            Launch demo modal
        %td
          %button.btn.btn-outline-primary.btn-sm
            = link_to 'Edit', edit_event_path(event), :class => ".btn.btn-outline-primary.btn-sm"
            |
            \#{link_to "Delete", event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, :class => ".btn.btn-outline-primary.btn-sm"}
    %br

  %button.btn.btn-primary{"data-target" => "#editDataAfterMatchModal", "data-toggle" => "modal", :type => "button"}
    Launch demo modal

  #editDataAfterMatchModal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h4#myModalLabel.modal-title Edit players data after match
          %button.close{"data-dismiss" => "modal", :type => "button"} x
        .modal-body
          
          #accordion
            - @players.each do |player|
              .card
                #headingTwo.card-header
                  %h5.mb-0
                    %button.btn.btn-link.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo#{player.name}", "data-toggle" => "collapse"}
                      %tr
                        %td= player.name
                        %td= player.surname
              .collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion", :id => "collapseTwo#{player.name}"}
                .card-body
                  %tr
                    %td= player.yellow_cards
                    %td= player.red_cards
          - @events.each do |post|
            %p= post.user.email

          
        .modal-footer
          %button.btn.btn-primary Save