.content
  %h1 Edit player data
  = bootstrap_form_for @player, url: {action: 'update'} do |f|
    .field.align-middle
      = f.text_field :name, class: "col-md-3 control-label" 
    .field
      = f.text_field :surname, class: "col-md-3 control-label"
    .field
      = f.text_field :bith_date, class: "col-md-3 control-label"
    .field
      = f.text_field :trained_in_club, class: "col-md-3 control-label"
    .field
      = f.text_field :trained_in_country, class: "col-md-3 control-label"
    .field
      = f.text_field :european, class: "col-md-3 control-label"
      = f.submit "Update"
  = link_to 'Back', team_index_path
