.content
  %h1 List of your players
  - @players.each do |player|
    .player
    %tr
      %p.content
        %td= player.name
        %td= player.surname
        %td= link_to 'Edit', edit_team_path(player) 
        %td= link_to 'Destroy', team_path(player), method: :delete, data: { confirm: 'Are you sure?' }

  %button.btn.btn-outline-primary{:type => "button"}= link_to 'New Player', new_team_path()