.content
  %h1 Create a new player
  = bootstrap_form_for @player, url: {action: "create"} do |f|
    .field
      = f.text_area :name
    .field
      = f.text_area :surname
    .field
      = f.text_area :bith_date
    .field
      = f.text_area :trained_in_club
    .field
      = f.text_area :trained_in_country
    .field
      = f.text_area :european
    .field
      = f.text_area :red_cards
    .field
      = f.text_area :yellow_cards
    .actions
      = link_to 'Back', team_index_path
      = f.submit "Submit"


