.content
  %h1 List of your Players  
  = link_to 'New Player', new_player_path(), class: "btn btn-outline-primary"
  %table
    %tr.list
      %td.list Number
      %td.list Name
      %td.list Surname
      %td.list Status
      %td.list
    - @players.each do |player|
      %tr
        %td
          = player.number
        %td
          = player.name.capitalize
        %td
          = player.surname.capitalize
        %td
          Git
        %td
          %button.btn.btn-outline-primary.btn-sm
            = link_to 'Edit', edit_player_path(player), :class => ".btn.btn-outline-primary.btn-sm"
            |
            \#{link_to "Delete", player_path(player), method: :delete, data: { confirm: 'Are you sure?' }, :class => ".btn.btn-outline-primary.btn-sm"}
  %br